.ci-splash-wrapper
  %section.home-splash.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      %a.hero-title{ href: "/analysts/forrester-ci/" }
        %h1
          A Leader In CI Tools Evaluation
      %p.hero-description
        "GitLab delivers ease of use, scalability, integration, and innovation. GitLab has a broad market reach, with over 80,000 active instances using the open source GitLab Community edition and over 500 enterprises paying for GitLab CI/CD."
      %a.btn.cta-btn.accent{href: "/pricing/"}
        Try GitLab for Free
      %a{ href: "https://www.g2crowd.com/products/gitlab/reviews", target: "_blank" }
        %p Download the full report →
    .hero-image-container
      %a.hero-image-link{ href: "/analysts/forrester-ci/", target: "_blank" }
        %img.hero-image{ src: "/images/home/forrester-ci-wave-graphic-white-bg.svg" }
