%section.ten-oh-announcement
  .ten-oh-label
    %span 11.4
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              This month’s release of GitLab 11.4 includes Merge Request Reviews, Feature Flags, Git protocol v2, and much more!
            .btn-group
              %a.btn.cta-btn.btn-white.margin-top20{href: "/2018/10/22/gitlab-11-4-released/"}
                See what’s new
