---
layout: default
title: Press and Logos
suppress_header: true
extra_css:
  - press.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %img.hero-image-large{ src: "/images/press/press-header-icon.svg", alt: "GitLab press header icon svg" }
    %h1 GitLab Press
    %p Recent News, press releases, and our press kit.

.press-toc-links
  %a{ href: "#recent-news"} Recent news
  %a{ href: "#press-releases"} Press releases
  %a{ href: "#press-kit"} Press kit
  %a{ href: "#get-in-touch"} Get in touch

.gitlab-content-container

  // recent news
  .content
    .content-section
      .content-section-title-container#recent-news
        %img.content-section-icon{ src: "/images/press/news-icon.svg", alt: "GitLab press header icon svg" }
        %h2.margin-top0 Recent news
      - data.press.recent_news[0..4].each_with_index do |news, index|
        - if index === 0
          .tile.featured-press-block
            .featured-press-block-info
              %p.news-date
                = news.date
              %h3
                = news.title
              %a.article-link{ href: "#{news.link}", target: "_blank" }
                Go to article
                %i.fa.fa-arrow-right
            %img.news-logo{ src: "#{news.logo}" }
        - else
          .press-block
            .logo-and-date
              %img.news-logo-small{ src: "#{news.logo}" }
              %p.news-date
                = news.date
            %p
              = news.title
            %a.article-link{ href: "#{news.link}", target: "_blank" }
              Go to article
              %i.fa.fa-arrow-right
      %a.btn.cta-btn.orange{ href: "/press/recent-news/" }
        See all news

  // press releases
  .content
    .content-section
      .content-section-title-container#press-releases
        %img.content-section-icon{ src: "/images/press/press-release-icon.svg", alt: "GitLab press release icon svg" }
        %h2.margin-top0 Press releases
      - data.press.press_releases.last(5).each_with_index do |press_release, index|
        - if index === 0
          .tile.featured-press-block
            .featured-press-block-info
              %p.news-date
                = press_release.date
              %h3
                = press_release.title
              %a.article-link{ href: "#{press_release.link}", target: "_blank" }
                Read more
                %i.fa.fa-arrow-right
        - else
          .press-block
            .logo-and-date
              %p.news-date
                = press_release.date
            %p
              = press_release.title
            %a.article-link{ href: "#{press_release.link}", target: "_blank" }
              Read more
              %i.fa.fa-arrow-right

  // press kit
  .content
    .content-section
      .content-section-title-container#press-kit
        %img.content-section-icon{ src: "/images/press/press-kit-icon.svg", alt: "GitLab press kit icon svg" }
        %h2.margin-top0 Press kit
      .tile.featured-press-block
        .featured-press-block-info
          %h3
            Official GitLab press kit including photos, logos, and our press release boiler plate.
          %a.article-link{ href: "/press/press-kit/" }
            Get resources
            %i.fa.fa-arrow-right
        %img.news-logo{ src: "/images/logos/wm_web.svg", alt: "GitLab logo svg" }

  // get in touch
  .content
    .content-section
      .content-section-title-container#get-in-touch
        %img.content-section-icon{ src: "/images/press/get-in-touch-icon.svg", alt: "Get in touch GitLab icon svg" }
        %h2.margin-top0 Get in touch
      .tiles-container
        .tile-resource
          .tile-background-container{ style: "background: url('/images/press/press-email.png') center center no-repeat;" }
          .tile-info
            %h4.tile-title For press inquiries, please email press@gitlab.com
            %a.tile-link{ href: "mailto:press@gitlab.com" }
              Contact us
              %i.fa.fa-arrow-right
        .tile-resource
          .tile-background-container{ style: "background: url('/images/press/press-blog.png') center center no-repeat;" }
          .tile-info
            %h4.tile-title Visit our blog for updates from the GitLab team
            %a.tile-link{ href: "/blog/", target: "_blank" }
              Visit our blog
              %i.fa.fa-arrow-right
        .tile-resource
          .tile-background-container{ style: "background: url('/images/press/press-twitter.png') center center no-repeat;" }
          .tile-info
            %h4.tile-title Follow us on Twitter for the latest @gitlab news
            %a.tile-link{ href: "https://www.twitter.com/gitlab", target: "_blank" }
              Go to @gitlab
              %i.fa.fa-arrow-right
