@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//scss-lint:disable all
.gitlab-content-container {
  padding-top: 0 !important;
}

.tiles-container {
  display: flex;
  width: 100%;

  .tile-resource:not(:first-child) {
    margin-left: 30px;

    @media all and (max-width: $screen-md-min) {
      margin-left: 10px;
    }

    @media all and (max-width: $screen-sm-min) {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  @media all and (max-width: $screen-sm-min) {
    flex-direction: column;
  }
}

h2 {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
}

.news-date {
  color: $color-gray-light;
  font-weight: 600;
  font-size: 14px;
}

.content-section-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;

  .content-section-icon {
    height: 78px;
    margin-bottom: 20px;
  }
}

.content-section {
  display: flex;
  flex-wrap: wrap;

  .btn {
    margin: auto;
    margin-top: 40px;
  }

  .news-logo {
    height: 60px;
    max-height: 60px;
    max-width: 240px;
    margin: 0 40px;

    @media all and (max-width: $screen-sm-min) {
      order: 0;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .article-link {

    i {
      font-size: 12px;
      margin-left: 4px;
    }
  }

  .news-logo-small {
    height: 24px;
    max-width: 200px;

    @media all and (max-width: $screen-sm-min) {
      height: 40px;
      margin-bottom: 20px;
    }
  }

  .featured-press-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media all and (max-width: $screen-sm-min) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .featured-press-block-info {
    width: 100%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      margin-top: 0;
    }

    @media all and (max-width: $screen-md-min) {
      margin-right: 50px;
    }

    @media all and (max-width: $screen-sm-min) {
      margin-right: 0;
      order: 1;
    }
  }

  .press-block {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    width: 50%;
    border-bottom: 1px solid $color-gray-extra-light;

    .logo-and-date {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      p {
        margin: 0;
      }

      @media all and (max-width: $screen-sm-min) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media all and (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}

.press-toc-links {
  width: 700px;
  max-width: 700px;
  display: flex;
  margin: 50px auto;
  margin-bottom: 100px;

  a {
    color: $color-gray;
    padding: $input-padding;
    text-align: center;
    width: 100%;
    border-bottom: 4px solid transparent;

    &:hover {
      color: $color-primary;
      text-decoration: none;
      border-bottom: 4px solid $color-primary;
    }

  }

  @media all and (max-width: $screen-sm-min) {
    width: 100%;
    flex-direction: column;
    margin: 0;
    margin-bottom: 50px;
    background: $color-white;
  }

}

.press-content {
  padding: 60px 0;
  text-align: center;
  color: $color-white;
  background: $color-primary;

  span {
    font-size: 17px;
    color: $color-secondary-alt;
  }

}

.sub-wrapper {
  margin: 20px 0 60px;
}

.recent-news {
  margin-bottom: 20px;
}

.founders {
  background-image: url("/images/press/founders.jpg");
}

.gitlab-ceo {
  background-image: url("/images/press/sid_sijbrandij.jpg");
}

.greece-summit {
  background-image: url("/images/press/gitlab_greece_summit.jpg");
}

.fox {
  background-image: url("/images/press/logo/logo.png");
}

.diff-view {
  background-image: url("/images/press/screenshots/diff-view.png");
}

.merge-request {
  background-image: url("/images/press/screenshots/merge-request.png");
}

.issue-board {
  background-image: url("/images/press/screenshots/issue-board.png");
}

.pipeline-graph {
  background-image: url("/images/press/screenshots/pipeline-graph.png");
}

.project-view {
  background-image: url("/images/press/screenshots/project-view.png");
}

.git-cheat-sheet {
  background-image: url("/images/press/git-cheat-sheet.png");
}

.gitlab-data-sheet {
  background-image: url("/images/press/gitlab-data-sheet.jpg");
}

.gitlab-capabilities-statement {
  background-image: url("/images/press/gitlab-capabilities-statement.jpg");
}

.stacked-wordmark {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm.png");
}

.stacked-wordmark-no-bg {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_no_bg.png");
}

.stacked-wordmark-grayscale {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_grayscale.png");
}

.wordmark {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm.png");
}

.wordmark-no-bg {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.png");
}

.wordmark-grayscale {
  background-image: url("https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_grayscale.png");
}

.content {

  h2 {
    margin: 0;
  }

}

.downloads {

  .downloads-row {
    margin-top: 80px;

    @media all and (max-width: $screen-md-min) {
      margin-top: 50px;
      flex-direction: column;
    }

  }

  .press-row {
    margin-top: 50px;

    @media all and (max-width: $screen-md-min) {
      margin-top: 20px;
      flex-direction: column;
    }

  }

  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;

    &:not(:last-child) {
      margin-right: 50px;

      @media all and (max-width: $screen-md-min) {
        margin-right: 0;
        margin-bottom: 50px;
      }

    }

    .image-preview-container {
      height: 180px;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        width: 100%;
        height: 100%;
      }

    }

    .tile-label {
      position: absolute;
      left: 0;
      top: -32px;
      font-size: 16px;
      color: $color-gray-light;
    }

    @media (max-width: 768px) {
      flex-basis: 50%;
    }

    @media (max-width: 400px) {
      flex-basis: 100%;
    }

    .text {
      margin-bottom: 4px;

      span {
        font-size: 19px;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    .image {
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;
      height: 180px;
      background-position: center;
    }

  }

  .list {
    border-top: 1px solid $color-gray-extra-light;
    display: flex;
    font-size: .8em;

    a {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      align-items: center;
      padding: 14px;
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      width: 100%;

      &:not(:last-child) {
        border-right: 1px solid $color-gray-extra-light;
      }
      //scss-lint:disable NestingDepth
      &:hover {
        text-decoration: none;
        opacity: .8;

        p {
          opacity: 0;
          transform: translateY(10px);
        }

        i {
          opacity: 1;
          transform: translateY(0);
        }

      }

      p {
        margin: 0;
        font-size: 14px;
        transition: $transition-primary;
      }

      i {
        position: absolute;
        text-align: center;
        margin-right: 6px;
        font-size: 14px;
        opacity: 0;
        transform: translateY(-20px);
        transition: $transition-primary;
      }

    }
  }
}

.recent-blog p {
  font-size: 18px;
}

.investor-logos-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    @media all and (max-width: $screen-md-min) {
      padding: 20px;
    }
  }

  .investor-logo {
    height: 50px;
    max-width: 300px;

    @media all and (max-width: $screen-md-min) {
      margin: auto;
    }

  }

  @media all and (max-width: $screen-md-min) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.logo-row {
  display: flex;
  flex-wrap: wrap;

  .press-image {
    flex-basis: 25%;

    img {
      filter: grayscale(85%);
      transition: .2s ease;
      padding: 10px 20px;

      &:hover {
        filter: none;
      }
    }

    @media (max-width: 768px) {
      flex-basis: 50%;
    }

    @media (max-width: 400px) {
      flex-basis: 100%;

      img {
        padding: 10px 60px;
      }
    }
  }
}

.press-tile {

  &:not(:last-child) {
    margin-right: 50px;

    @media all and (max-width: $screen-md-min) {
      margin-right: 0;
      margin-bottom: 20px;
    }

  }

  .press-date {
    margin-bottom: 10px;
  }

  //scss-lint:disable ImportantRule
  .press-text {
    color: $color-black !important;
  }

}

.article-title {
  color: $color-dark;
  font-size: 18px;
}
