@import "variables";
@import "vendor/bootstrap/bootstrap";
@import "typography";

@import "components/simple-hero";
@import "components/content-section";


.wrapper {
  overflow: hidden;
}

a:hover
{
    text-decoration: none;
}