---
title: Solutions
suppress_header: true
extra_css:
  - features-v2.css
  - solutions-v2.css
extra_js:
  - features.js
---
.hero-container.flex-container.justify-center.align-center
  .text-center
    %h1.hero-title
      Solutions
    %p.hero-message
      GitLab helps you overcome the real world challenges you are facing with your entire software development lifecycle
.solutions-page-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Concurrent DevOps"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        Enable faster cycle times
      %p
        = "Concurrent DevOps is a new way of thinking about how we create and ship software. Rather than organizing work in a sequence of steps and handoffs, the power of working concurrently is in unleashing collaboration across the organization."
      %a.btn.cta-btn.red{href: "/concurrent-devops/"}
        Learn how GitLab automates your software factory

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Value Stream Management"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        Maximize the value of your software factory
      %p
        = "Enterprises need to manage, visualize and measure the business value created across multiple software delivery pipelines. Value Stream Management (VSM) aggregates data from multiple software delivery pipelines to provide visibility that an application release will deliver the value expected of it."
      %a.btn.cta-btn.red{href: "/solutions/value-stream-management/"}
        Learn how GitLab helps value stream management

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "DevSecOps"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        Improve Quality and Security with DevSecOps
      %p
        = "'We’ll fix it in production' is the typical answer to late found defects or security issues on far too many software projects.  Because testing and security are separate silos, often after multiple rounds of development work, it means that each defect or vulnerability can cause extensive rework.   If only the issue was found when it was created.   GitLab enables better quality and improved security by embedding testing, QA and security scans into every pipeline, giving developers the right feedback at the right time.  "
      %a.btn.cta-btn.red{href: "/solutions/dev-sec-ops/"}
        Learn how GitLab enables DevSecOps

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "GitLab for enterprise businesses"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        How GitLab is enterprises class
      %p
        = "GitLab has been designed to be easy to deploy and maintain. A single system configuration can scale to support over 32,000 active users, requiring minimal administration effort, and a multi-node, distributed services configuration can scale to support 100's of thousands of active users. Implementing High Availability, Backups, and Disaster Recovery has been made simple with GitLab Omnibus packaging. The GitLab codebase is used in over 66% of the self-managed Git market and is tested in the crucible of GitLab.com, with over 2 million active users."
      %a.btn.cta-btn.red{href: "/enterprise-class/"}
        GitLab for enterprises

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Accelerating Delivery"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        IT Delivery at the Speed of Business
      %p
        = "Every business is a really software business and accelerating software delivery is critical to business success.   DevOps is the answer, however often, DevOps leads to fragmented and disconnected tool chains, which increases friction, increases cost and ultimately makes it much  harder to collaborate.   GitLab’s comprehensive, single application end to end DevOps approach enables teams to accelerate delivery without compromise."
      %a.btn.cta-btn.red{href: "/solutions/faster-software-delivery/"}
        Learn how GitLab helps accelerate delivery

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Cloud Transformation"
      %h4
        %img.solution-logo{ src: "/images/icons/website.png", alt: "Cloud Native" }
        Cloud native for business
      %p
        = "Many organizations are migrating to a cloud native approach to application architecture.  GitLab can help you with your evolution to building and shipping cloud native apps."
      %a.btn.cta-btn.red{href: "/solutions/cloud-native/"}
        Learn how GitLab enables cloud native applicaitons

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Software-defined Infrastructure"
      %h4
        %img.solution-logo{ src: "/images/icons/auto-devops.svg", alt: "no ticket provisioning" }
        Streamlined no-ticket provisioning
      %p
        = "Too often, projects are delayed waiting for infrastructure and environments to be provisioned.  GitLab can help you move to a streamlined process and simplify the value stream to deliver business solutions with no ticket provisioning."
      %a.btn.cta-btn.red{href: "/solutions/no-ticket-provisioning/"}
        Learn about No Ticket Provisioning

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Improve regulatory compliance"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "gitlab logo" }
        Compliance and Governance at DevOps Velocity
      %p
        = "Worried about your next SDLC audit?  Are your teams following the right controls and documenting every change?   In many cases compliance is an expensive and error prone activity, where the stakes are incredibly high.   GitLab’s workflows, audit trails and clear approval process makes it natural and easy to deliver at the speed of DevOps with compliance built in. See how GitLab can help with [Financial Services Regulatory Compliance](https://about.gitlab.com/solutions/financial-services-regulatory-compliance/), [PCI Compliance](https://about.gitlab.com/solutions/pci-compliance), [HIPAA](https://about.gitlab.com/solutions/hipaa-compliance), and [GDPR](https://about.gitlab.com/gdpr)."
      %a.btn.cta-btn.red{href: "/solutions/compliance"}
        Learn how GitLab improves compliance

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Supporting Geographically distributed teams"
      %h4
        %img.solution-logo{ src: "/images/icons/geo-icon.svg", alt: "gitlab geo icon" }
        Maximize Remote Developer Productivity
      %p
        = "Often development teams work in remote offices around the globe, creating unique collaboration challenges and overhead in keeping them and their work in sync with each other.   GitLab simplifies the challenges of leading and managing remote teams, making it easier for them to stay current and working on the latest version of their code."
      %a.btn.cta-btn.red{href: "/features/gitlab-geo/"}
        Gain 20x speed with GitLab Geo

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "High Availability"
      %h4
        %img.solution-logo{ src: "/images/icons/geo-icon.svg", alt: "gitlab geo icon" }
        Ensure uptime for development
      %p
        = "Downtime costs you money. High availability (HA) is a design framework that ensures a prearranged level of operational performance throughout a specific time-period (aka uptime)."
      %a.btn.cta-btn.red{href: "/high-availability/"}
        Learn how GitLab provides maximum uptime

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Team / Development Platform"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "Developer Platform" }
        Create a productive and efficient workspace for delivery teams.
      %p
        = "GitLab is a single application supporting the entire development lifecyle.  As such, GitLab helps teams connect, collaborate and accelerate delivery, helping to meet your business goals and improve team satisfaction. "
      %a.btn.cta-btn.red{href: "/solutions/developer-platform/"}
        Learn how GitLab can help your teams be more productive

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Amazon Web Services"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        GitLab deploys your applications to AWS.
      %p
        = "GitLab is a single application supporting the entire development lifecyle. As such, GitLab helps teams connect, collaborate and accelerate delivery, helping to meet your business goals and improve team satisfaction. "
      %a.btn.cta-btn.red{href: "/solutions/aws/"}
        Learn how GitLab and AWS work together

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Google Cloud Platform"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        GitLab deploys your applications to Google Cloud (GCP) with tight Google Kubernetes Engine (GKE) integration.
      %p
        = "GitLab is a single application supporting the entire development lifecyle. As such, GitLab helps teams connect, collaborate and accelerate delivery, helping to meet your business goals and improve team satisfaction."
      %a.btn.cta-btn.red{href: "/solutions/google-cloud-platform/"}
        Learn how GitLab and GCP work together

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Education"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        GitLab solutions for education.
      %p
        = "Educational institutions around the world use GitLab widely, and our top tiers (Gold and Ultimate) are free for education. We want students to use our most advanced features, so they can take that experience to their future workplaces."
      %a.btn.cta-btn.red{href: "/solutions/education/"}
        Learn about GitLab for education

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "GitLab Flow"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        A simple Git flow enabled by GitLab.
      %p
        = "The GitLab workflow facilitates improved team collaboration by accelerating ideas to production with features such as Auto DevOps."
      %a.btn.cta-btn.red{href: "/solutions/gitlab-flow/"}
        Learn about GitLab Flow

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Open source"
      %h4
        %img.solution-logo{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo" }
        GitLab is commited to open source.
      %p
        = "Learn about major open source projects using GitLab as well as how to obtain free licenses for GitLab Gold or Ultimate for open source projects as part of our commitment to open source."
      %a.btn.cta-btn.red{href: "/solutions/open-source/"}
        Explore open source
